extends landing_layout

block content
  h1(align='center') Admin Dashboard
  body(align='left', ng-controller='orderListControl')
    .row.list-group
      .col-xs-12.pull-left.list-group-item(ng-repeat="order in data.orders")
        //- .error {{ message }}
        h4
          p(align="left")
            b Quantity:&nbsp
            {{ order.quantity }}
            br
            br
            b Shipping Address:
            br
            t Street:&nbsp {{ order.shippingAddress[0].street |json }}
              &nbsp City: &nbsp {{ order.shippingAddress[0].city |json }}
              &nbsp State:&nbsp {{ order.shippingAddress[0].state |json }}
              &nbsp Zip:&nbsp {{ order.shippingAddress[0].zip |json }}
              &nbsp Country:&nbsp {{ order.shippingAddress[0].country |json }}
            br
            br
            b Shipping Information:
            br
            t Shipping Service: &nbsp {{ order.shippingService }}
              &nbsp Shipping Price: ${{ order.shippingPrice }}
              &nbsp Unit Price: $ {{ order.unitPrice }}
            br
            br
            b Order Total:
            br
            t Subtotal: $ {{ order.subTotal }}
              &nbsp tax: ${{ order.tax }}
              &nbsp total: ${{ order.total }}
            br
            br
            b Order Date: &nbsp {{ order.createdAt }}
          form.form-inline(action="{{'/dashboard/admin/update_order/' + order._id }}", method="post", role="form")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="status") Status:
              .col-xs-12.col-sm-10
                {{ order.status }}
                br
                select#rating.form-control.input-sm(name="status")
                 option Select
                 option New Order
                 option Order Processed
                 option Order Delivered
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="manufacturer") Manufacturer:
              .col-xs-12.col-sm-10
                {{ order.mfgName }}
                br
                input#username.form-control(name="manufacturer")
            button.btn.btn-default Update
